@model IList<CompetitorsModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Registered Competitors</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Gender</th>
            <th>Weight</th>
            <th>Belt Rank</th>
            <th>NoGi Rank</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competitor in Model)
        {
            <tr>
                <td>@competitor.FirstName</td>
                <td>@competitor.LastName</td>
                <td>@competitor.Gender</td>
                <td>@competitor.Weight</td>
                <td>@competitor.BeltRank</td>
                <td>@competitor.NogiRank</td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-controller="competitorregistration" asp-action="NewCompetitor" method="get">Register To Compete</a>